name: Mirror Sync Final
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  mirror-force:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        

      - name: Push to Destination
        # We map the secret to a variable here to ensure it loads
        env:
          TARGET_TOKEN: ${{ secrets.DESTINATION_PAT }}
          TARGET_USER: harshgoel2004work
          TARGET_REPO: harshgoel2004work/twj-labs
        run: |
          # We use the mapped variable $TARGET_TOKEN
          git push "https://$TARGET_USER:$TARGET_TOKEN@github.com/$TARGET_REPO.git" main --force
